@import "./recursos/fontello/css/fontello.css";

#logo{
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* Pantalla idiomas */
.idiomas{
    border: 2px;
    border-color: black;
    border-style: solid;
}

.idiomas>p{
    align-items: center;
    text-align: center;
}