@import "./recursos/fontello/css/fontello.css";
/* Nota : no he podido obtener el icono del ventilador ni de la puerta del horno en fontello*/

#logo {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
/*Pantalla idiomas*/
.idiomas{
    border: 2px;
    border-color: black;
    border-style: solid;
}

.idiomas>p{
    align-items: center;
    text-align: center;
}

/*Pantalla conexion establecida*/

/* Pantalla ajustes*/


.datoshorno>li {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}